@media screen and (min-width:1280px) and (max-width:1919px) {
 
   #wrap {width: 100%; min-width:320px; height: 100%; 
     > #headBox {position: relative; width: 100%; height: 80px; background-color:$dg; max-width: 1440px; margin:auto;
       > h1 {position: absolute; margin:auto; top:0; bottom:0; width: 140px; height: 40px; margin-left:5%;
         > a {display:block; width: 100%; height: 100%; @include url;
              background-image:url("../img/dell_image_09.png");
           > span {@include hidden;}
         } // a
      } // h1
       > .categori {display:none;}
         .search {display:none;}
      > .gnb {position: absolute; @include margin; margin-right:20%; width: 540px; height:80px;
          li {float:left; width: 135px; height:100%; 
              text-align: center; line-height:75px; 
              a {@include h2_w; font-weight: bold;}
            } // li
         } // gnb
        .my_id {position: absolute; right:5%; width: 150px; height:100%;
         a {float:left; display: block; width: 100px; height: 100%; text-align: left; line-height:75px; @include h2_w; font-weight: bold;}
         i {float:left; display: block; width: 40px; height: 80px; font-size:30px; text-align:center; line-height:75px; color:#fff;}
         } // my_id
       } // headBox
   // ===============================================================================================
   // contentsBox
        > #contentsBox {width: 100%; height:auto; background-color:$white; max-width: 1440px; margin:auto; 
         > #viewBox_01 {width: 100%; height: 560px; background-color: $main; overflow: hidden;
          .viewslide_main {position:relative; z-index:0; width: 100%; height: 100%; 
            
            .indicator_01 {position: absolute; z-index: 500; bottom:5%; margin:auto; right:0; left:0; width: 120px; height: 15px;
              li.action { width: 60px; height: 15px; background-color: $main; border-radius: 50px;}
              li:nth-child(1) { margin-left:0;}
              li {float:left; margin-left:15px; width: 15px; height: 15px; background-color: $white; border-radius: 100%;}
              a {display: block; width:100%; height: 15px;} // a
            } // indicator
            
            .view_img {width: 100%; height: 100%; background-color: #faf;
              .slide_img_list {$count:4; width: 100% * $count; height: 100%; background-color: #ccc;/*   margin-left:-100%;  */
                      position: relative; left:-100%;
              > div.action{position: relative; z-index: 100; overflow: hidden;
                  &:before{content:" "; display: block; position:absolute; z-index:-1; top: 0; left: 0; width: 100%; height: 100%;
                    background-color:rgba($main, 0.7); transform:skew(-20deg) translateX(-70%); }
                  &:after{content:" "; display: none; position:absolute; z-index:-1; top: 0; right: 0; width: 40%; height: 100%; 
                    background-color:rgba($main, 0.7); transform:skew(-50deg) translateX(75%); }
                    &.img_02 { 
                      &:before{background-color:rgba($deepGreen,0.5)}
                      &:after{background-color:rgba($deepGreen,0.5)}
                    } // img_02
                    &.img_03 { 
                      &:before{background-color:rgba($dg,0.5)}
                      &:after{background-color:rgba($dg,0.5)}
                    } // img_03
                } // div
              > div{position: relative; z-index: 100; overflow: hidden;
                  &:before{content:" "; display: block; position:absolute; z-index:-1; top: 0; left: -100%; width: 100%; height: 100%;
                    background-color:rgba($main, 0.7); transform:skew(-20deg) translateX(-70%); 
                    transition: all 1000ms ease;}
                  &:after{content:" "; display: none; position:absolute; z-index:-1; top: 0; right: 0; width: 40%; height: 100%; 
                    background-color:rgba($main, 0.7); transform:skew(-50deg) translateX(75%); }                        
                } // div

              .img_01{background-image:url("../img/Dell_Alienware.jpg");}
              .img_02{background-image:url("../img/section_02.jpg");}
              .img_03{background-image:url("../img/D0.jpg");}
              .slide {float:left; width:100% / $count; height: 100%; 
                @include url; 
                background-size:cover;
                
                > .view_alien {@include hidden;}
              
     
             > .main_title {position:absolute; z-index:0; left:5%; top:30%; width: 400px; height: 300px; 
               > .view_logo {position: absolute; z-index:100; width: 120px; height: 100px;
              @include url;
              background-image:url("../img/480/view_logo.png"); top:-35%;}
               > ul {width: 100%; height: 100px; 
                 > li {width: 100%; height: 100%;
                 &:nth-child(1){@include h1_w($f:30); text-shadow:5px 5px 10px #222;}
                 &:nth-child(2){@include h2_w($f:16); font-weight:600; text-shadow:5px 5px 10px #222;
                   span{border-bottom:1px solid #fff;padding-bottom:4px;}
                 } //  &:nth-child(2)
                } // li
               } // ul
               .more_01 {position: absolute; z-index:1; top:90%; bottom:10%; left:-65%; right:0; margin:auto; width: 150px; height: 50px; 
                 background-color: $white; border-radius:10px;
                 
                 > a {@include h1($f:16); display: block; width: 100%; height: 100%; text-align: center; line-height:50px;}
                       } // more_01
                     } // .main_title
                    } // img_01

                }  // slide_img_list
              } // view_img
            } // viewslide_main
          } // viewBox_01
         
          
         > #Box_02 {@include hidden;}
         .top3 {width: 100%; height: 800px; padding:120px 0 ; box-sizing: border-box;
          border-top:5px solid #fff; border-bottom:5px solid #fff;
          .Best {position: relative; right:0; left:0; 
            margin:auto; width: 650px; height: 80px; @include h1($f:34);}
            .Best_more {position: relative; right:0; left:0; margin:auto; width: 240px; height: 50px; @include h1($f:20); margin-bottom:80px;
            i {width: 10px; height: 10px;}
          } // Best_more
            ul {padding-top:30px; width: 1050px; height:400px; 
              border-top: 1px solid #ccc; margin:auto;
              
            li {float:left; margin-left:2%; width: 32%; height: 350px; 
                background-color:rgb(240, 240, 240); text-align: center; 
                 &:nth-child(1) {margin-left:0;}

                a {display: block; width: 100%; height:100%; @include h1($f:30);
                span {width: 100%; height: 100%;  display: none; padding-top:70px; line-height:2; font-size: 1rem;
                  text-transform:capitalize; text-align: center; color:#fff;}
              } // a
                dl {width: 100%; height: 100%; box-sizing: border-box; padding:10px;
                dt {font-size:2rem; width: 100%; height: auto; margin-bottom:10px; margin-top:20px;}
                dd {font-size:1rem; width: 100%; height:auto; }
              } // dl
              
                
                &:nth-child(1){@include url;
                  background-position-y:80%;
                  background-size: 70%; 
                  background-image: url("../img/480/viewBox_02.png");}
                &:nth-child(2){@include url; 
                  background-position-y:90%;
                  background-size: 90%; 
                  background-image: url("../img/XPS-13-Desktop.png");}
                  
                &:nth-child(3){@include url;  
                  background-position-y:80%;
                  background-size: 70%; 
                  background-image: url("../img/768/notebook_05.png");}
           } // li
         } // ul
      } // top3
         
     // ===============================================================================================

      #slide_viewBox {position: relative; z-index:1; width: 100%; height:700px;  overflow: hidden;

        .viewslide_main_02 {position:relative; z-index:0; width: 100%; height: 100%; 
          
          .indicator_01 {position: absolute; z-index: 500; bottom:5%; margin:auto; right:0; left:0; width: 120px; height: 15px;
            li.action { width: 60px; height: 15px; background-color: $main; border-radius: 50px;}
            li:nth-child(1) { margin-left:0;}
            li {float:left; margin-left:15px; width: 15px; height: 15px; background-color: $white; border-radius: 100%;}
            a {display: block; width:100%; height: 15px;
            } // a
          } // indicator
          
          .view_img {width: 100%; height: 100%;

          .slide_img_list_02 {$count:4; width: 100% * $count; height: 100%; background-color: #ccc;/*   margin-left:-100%;  */
              position: relative; left:-100%;

          .view_alien {@include hidden;}

     > div.action{position: relative; z-index: 100; overflow: hidden;
        &:before{content:" "; display: block; position:absolute; z-index:-1; top: 0; right: 0; width: 100%; height: 100%; 
        background-color:rgba($dg, 0.7); transform:skew(25deg) translateX(70%); }
        &:after{content:" "; display: none; position:absolute; z-index:-1; top: 0; left: 0; width: 40%; height: 100%;
           background-color:rgba($dg, 0.7); transform:skew(45deg) translateX(-90%); }
           &.img_02 { 
             &:before{background-color:rgba($deepGreen,0.5);}
             &:after{background-color:rgba($deepGreen,0.5);}
           } // img_02
           &.img_03 { 
             &:before{background-color:rgba($dg,0.5);}
             &:after{background-color:rgba($dg,0.5);}
           } // img_03
        > div{position: relative; z-index: 100; overflow: hidden;
         &:before{content:" "; display: block; position:absolute; z-index:-1; top: 0; right: -100%; width: 100%; height: 100%;
           background-color:rgba($dg, 0.7); transform:skew(25deg) translateX(70%); 
           transition:all 1000ms ease;}
         &:after{content:" "; display: none; position:absolute; z-index:-1; top: 0; left: 0; width: 40%; height: 100%;
            background-color:rgba($dg, 0.7); transform:skew(45deg) translateX(-90%); }
       }
      } //div.action
        // div
             .img_01-1{background-image:url("../img/XPS_15_9570.jpg");}
             .img_02-2{background-image:url("../img/Dell_Technologies.jpg");}
             .img_03-3{background-image:url("../img/dell.jpg");}
             .slide {float:left; position: relative; width:100% / $count; height: 100%; 
               @include url; 
               background-size:cover;
              .tapBox_01 { @include text_02;}
              .tapBox_02 { @include text_02;}
              .tapBox_03 { @include text_02;}
             } // slide
            
         } // slide_img_list_02
       } // .view_img
     } // .viewslide_main_02
    } // slide_viewBox
      // ========================================================================
 
 
       > #viewBox_02 {margin:auto; width: 100%; height:560px; background-color:$sub1; overflow: hidden;
         $count:5;
         .noteBox{position: relative; width: 100%; height: 100%; overflow: hidden;
          h3 {position: absolute; @include h1_w($f:40); margin:auto; top:25px; right:0; left:0; width: 530px; height: 80px;}
           > ul {position:absolute; margin:auto; left:5%; right:5%; top:0; bottom:0;
             /* width: 50% * $count; */ width:100%;  height: 100%; 
             perspective:500px; transition:all 1000ms linear;transform-origin:50% 0;
             &:hover{transform: translate(-50%, 11.5%) rotateY(45deg);}
             > li {float:left; width:100% / ($count - 2); height: 100%; margin-left:3%; margin-right:3%; @include h1_w($f:40);
              >span {display: block; text-align: center; margin-top:450px;}

                 
               &:nth-child(1){@include url; margin-top:-3%; width:20%; font-size:2rem; 
                   background-image:url("../img/768/notebook_01.png");
                   span { margin-top:380px;}}
                 
               &:nth-child(2){@include url; 
                  background-image:url("../img/480/viewBox_02.png");}
                 
               &:nth-child(3){@include url; margin-top:-3%; width:20%; font-size:2rem;
                   background-image:url("../img/768/noteBox.png");
                  & span{margin-top: 380px;}} 
                 
                 &:nth-child(4){@include hidden;}
                 &:nth-child(5){@include hidden;}
 
               } // li
             } // ul
           } // noteBox
         } // #viewBox_02
         
   
         > #Box_04 {width: 100%; height: 400px;
           > .text_img_04 {position: relative;
                           width:100%; height: 100%; background-color: #fff; overflow: hidden;
           > .box_04_text {position: absolute; z-index:50 ; left:50%; top:25%; width: 450px; height:200px; overflow: hidden;
             &>li:nth-child(1) {@include h1($f:28); margin-top:10px;}
             &>li:nth-child(2) {@include h2($f:14); font-weight: 500; margin-top:10px;}
             &>li:nth-child(3) {margin-top: 40px;}
             &>li:nth-child(3) > a {width: 300px; height: 50px; @include h2($f:14); 
                 font-weight: bold; border-bottom:1px solid #ccc;padding-bottom:4px;}
             } // .box_04_text
             > .img_02 {position: absolute; z-index:10; left:25%; top:18%; width: 250px; height:250px;
               @include url;
               background-image:url("../img/480/4Box.png");}
           } // .text_img_04
         } // #Box_04
         
   
         > #viewBox_03 {position: relative; width: 100%; height: 610px; @include url;
                        margin-bottom:100px;
                        background-size: cover;
                        background-position:80% 40%;
                        background-image:url("../img/buisness_05.jpg");
    
           > .last_adv {position: absolute; margin:auto; right:0; left:0; top:0; bottom:0;
                        width: 100%; height: 200px; 
             > ul {position: absolute; width: 100%; height: 100%; margin:auto;
                li {width: auto; height:auto;text-align:center;margin:auto;
                 &:nth-child(1) {@include h1_w($f:40); padding:20px 20px 30px; }
                 &:nth-child(2) {@include h2_w($f:28);}
                 &:nth-child(3) {@include h2_w($f:28); margin-bottom:60px;}
                 } // li
               } // ul
               .more_03 {position: absolute; bottom:-50%; left:0; right:0; margin:auto; width: 200px; height: 50px; 
                      background-color: $white; border-radius:10px;
                 > a {@include h2($f:20); display: block; width: 100%; height: 100%; text-align: center; line-height:50px;}
               } // more
             }//.last_adv
           } // #viewBox_03
         } // #contentsBox
   // ===============================================================================================
   // footBox
   
        > #footBox {position: relative; width: 100%; height: 320px; background-color: $main; border:1px solid #fff;
           margin:auto; 
          > .foot_text {width: 1000px; height:100%; margin:auto; 
            .logo_sns {@include hidden;}
            .foot_logo {@include hidden;}
            .sns_box {@include hidden;}
            .foot_info {@include hidden;}
            .foot_info_02 {@include hidden;}
            > .foot_info_03 {width: 1000px; height:100%; margin:auto; 
             > .top_logo {position: relative; width: 100%; height: 30px; padding-top:20px;
              .left {position:absolute; top:40%; bottom:0; margin:auto; width: 300px; height: 2px; background-color: #fff;}
              .center_logo {float:left; margin-left:345px; width: 150px; height: 100%; @include url; 
                            background-image: url("../img/dell_image_09.png");
              }
              .center_text {float:left; width: 150px; height: 100%; text-align: center; 
                line-height:30px; font-size: 1.3rem; font-weight:800; color:#fff;}
              .right {position:absolute; top:40%; bottom:0; right:0; margin:auto; width: 300px; height: 2px; background-color: #fff;}
                    } // .top_logo
              .foot_logoBox {float:left; width: 270px; height: 250px;
                .logo_img {margin-top:30px; width: 100px; height: 100px; @include url;
                           background-position: 30% 90%; 
                           background-image: url("../img/dell_image_09.png");
                            } // .logo_img
                            .korea {margin-top:100px; font-size:0.8rem; width: 270px; height: 20px; color:#fff; font-weight:400; }
                          } // .foot_logoBox
              .info_text {float:right; width: 730px; height: 250px; 
                dl {float:left; width: 243px; height: 100%;
                dt {font-size:1.2rem; margin-top:30px; font-weight:800; color:#fff; margin-bottom:30px; } 
                dd {width: 100%; height:30px; 
                 a {font-size: 0.8rem; font-weight:400; color:#fff;}
                    } // dd
                  } // dl
                    .caution {float:right; transform: translateY(-140%); text-align: center; width: 300px; height: 20px; 
                      a {font-size:0.8rem; color:#fff; font-weight:400;}
                      } // .caution
                    } // info_text
                  } // .foot_info_03
                } // .foot_text
             } // footBox
           } // #wrap
         } // media screen