@media screen and (max-width:767px) {

#wrap {width: 100%; min-width:320px; height: 100%; background-color: #ccc;
  > #headBox {position: relative; width: 100%; height: 65px; padding: 20px 10px; box-sizing: border-box; background-color:$dg;
    > h1 {width: 120px; height: 100%; margin:auto; 
      > a {display:block; width: 100%; height: 100%; background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        background-image:url("../../img/dell_logo.png");
        > span {@include hidden;}
      }};
        
    > .categori {position: absolute; left:5%; bottom:-7%; width: 50px; height: 50px;}
    > .categori > i {width: 50px; height: 50px; font-size:1.5rem; color:#fff;}
    .search {position:absolute; right:5%; bottom:-7%; width: 50px; height: 50px;}
    .search > i {width: 50px; height: 50px; font-size:1.5rem; color:#fff;}
    } // headBox
// ===============================================================================================
// viewBox
     > #contentsBox {width: 480px; height: 828px; background-color:rgb(153, 153, 153);
    
      } // contentsBox
     
     
     
     
     
     
     > #footBox {width: 480px; height: 84px; background-color: $main;
    } // footBox
  } //wrap
} // media screen