
#wrap {width: 100%; height: 100%;} // #wrap
#headBox { width: 100%; height:200px;
  .top {position: relative; width: 100%; height: 100px; background-color:$dg;
    h1 {position: absolute; top:0; bottom:0; left:70px; margin:auto; width: 140px; height: 40px;
        @include url; background-image: url("../../img/dell_image_09.png");
    a {display: block; width: 100%; height: 100%;
      span {@include hidden;}
      } // a
    } // h1
   .gnb {position: absolute; @include margin; margin-right:20%; width: 600px; height: 80px;
    li {float:left; width: 150px; height: 100%; text-align: center; line-height: 80px;
     a {font-size:1rem; font-weight:800; color:#fff;}
      } // li
    } // gnb
    .my_id {position: absolute; width: 200px; height: 80px; top:0; bottom:0; right:100px; margin:auto;
     a {float:left; display: block; text-align:left; line-height: 80px; font-size: 1rem; font-weight:800; color:#fff;}
     i {float:left; display: block; width: 40px; height: 80px; font-size: 20px; text-align: center; line-height: 80px; color:#fff;}
    } // .my_id
  } // .top
  .bottom {position: relative; width: 100%; height: 125px; background-color: #f9f9f9;
   .menu {position: absolute; @include margin; width: 1000px; height: 125px; 
    li {float:left; width: 200px; height: 100%; text-align:center; line-height:17; color:#222; font-size:0.8rem; font-weight:800; text-transform:capitalize;
      &:nth-child(1) {@include url; background-size:35%; background-position:50% 30%; background-image:url("../../img/moniter.png");}
      &:nth-child(2) {@include url; background-size:35%; background-position:50% 30%; background-image:url("../../img/notebook.png");}
      &:nth-child(3) {@include url; background-size:25%; background-position:50% 30%; background-image:url("../../img/desktop.png");}
      &:nth-child(4) {@include url; background-size:30%; background-position:50% 30%; background-image:url("../../img/tablet.png");}
      &:nth-child(5) {@include url; background-size:30%; background-position:50% 30%; background-image:url("../../img/printer.png");}
     a {display: block; width: 100%; height: 100%;}
      } // li
    } // .menu
  } // .bottom
} // #headBox

#viewBox {width: 100%; height: 1080px; margin:auto;
 .title {width: 100%; height:100px; margin-bottom: 2rem; margin-top:15rem; text-align:center; 
         line-height:1.5; letter-spacing:-0.1rem; color:#222;
   h3 {font-size:1.5rem;}
   p {font-size:3rem; font-weight:900;}
 } // .title 
 .fix_img {position: relative; width: 1200px; max-width:1200px; height:700px; margin:auto; margin-top:5rem; margin-bottom: 5rem; overflow: hidden;
   &~p {width:66%; height: 70px; margin:auto; text-align:center; font-size: 1.2rem; font-weight:800; 
        letter-spacing:-0.1rem; color:#222; line-height:2;
      }
    video {position:absolute; left: 50%; top: 50%; width:100%; min-width:100%; height:auto; min-height:100%; transform: translate(-50%, -50%); 
      @include url;
      background-image: url("../../img/stop_img.png");
    }
 } //.fix_img
} // #viewBox


#intro_con_01 {position: relative; width: 100%; height: 100%; 
  .title {position: absolute; width: 70%; height: 500px; top:0; bottom:0; right:0; left:0; margin:auto; 
    .text {float:right; width: 45%; height: 435px; box-sizing: border-box; padding-top:5rem; 
      h3 {position: absolute; top:8rem; font-size:2.5rem; }
      dl {width: 100%; height: auto; margin:auto; margin-top:9rem; 
      dt {font-size: 1rem; font-weight:600; letter-spacing:-0.1rem; line-height:1.7; }
      dd {font-size: 1rem; font-weight:bold; margin-top:4rem;}
      a {color:#222;}
      i {font-size:1rem;}
     } // dl
    } // .text
    .con_01_img {float:left; width: 50%; height: 100%;
                 background-position: 50% 50%;
                 background-repeat: no-repeat;
                 background-size: contain;
                 background-image:url("../../img/dell_image_05.jpg");}
  } // .title
} // intro_con_01


#intro_con_02 {position: relative; width: 100%; height: 100%; 
  .title {position: absolute; width: 70%; height: 500px; top:0; bottom:0; right:0; left:0; margin:auto; 
    .text {float:left; width: 45%; height: 435px; box-sizing: border-box; padding-top:5rem; 
      h3 {position: absolute; top:8rem; font-size:2rem; margin-left:40px;}
      dl {width: 100%; height: auto; margin:auto; margin-top:8rem; margin-left:40px;
      dt {font-size: 1rem; font-weight:600; letter-spacing:-0.1rem; line-height:1.7; }
      dd {font-size: 1rem; font-weight:bold; margin-top:4rem;}
      a {color:#222;}
      i {font-size:1rem;}
     } // dl
    } // .text
    .con_02_img {float:right; width: 50%; height: 100%; 
                 background-position: 50% 50%;
                 background-repeat: no-repeat;
                 background-size: contain;
                 background-image:url("../../img/dell_alien_02.png");}
  } // .title
} // intro_con_02


#os_conBox {position:relative; width: 70%; height: 70%; margin:auto; color:#fff;
            background-repeat: no-repeat;
            background-position:50% 50%;
            background-size:cover;
            background-image:url("../../img/os_con.jpg");
  h3 {position: absolute; right:0; left:0; top:25%; font-size:1.5rem; text-align:center;}
  dl {position: absolute; top:8%; bottom:0; right:0; left:0; margin:auto; width: 650px; height: 200px; text-align:center;
    dt {font-size:2.5rem; font-weight:800; margin-bottom:40px;}
    dd {font-size:1rem; font-weight:800; margin-bottom:5rem;}
    a {font-size: 1rem; font-weight:800; color:#fff;}
  } // dl
} // os_conBox
#intro_con_03 {width: 100%; height: 100%;
               position: relative; width: 100%; height: 100%; 
  .title {position: absolute; width: 70%; height: 500px; top:0; bottom:0; right:0; left:0; margin:auto;
    .text {position: absolute; top:60px; width: 500px; height: 380px; box-sizing: border-box; padding-top:5rem;
      h3 {position: absolute; top:15%; bottom:0; left:0; right:0; margin:auto; text-align: center; font-size:2rem;}
      dl {width: 100%; height: auto; margin:auto; margin-top:5rem; margin-left:70px;
      dt {font-size: 1rem; font-weight:600; letter-spacing:-0.1rem; line-height:1.7; }
      dd {font-size: 1rem; font-weight:bold; margin-top:4rem;}
      a {color:#222;}
      i {font-size:1rem;}
     } // dl
    } // .text
    .con_03_img {float:right; width: 50%; height: 100%; 
                 background-position: 50% 50%;
                 background-repeat: no-repeat;
                 background-size: contain;
                 background-image:url("../../img/Dell_inspiron_laptop.png");}
  } // .title
} // intro_con_03


#innovation_conBox {width: 810px; height:100%; margin:auto; padding-bottom:400px;
  h3 {font-size:2rem; text-align: center; margin-bottom:10%;}
  a {position:relative; display: block; width: 100%; height: 100%; box-sizing:border-box; padding:10rem 4rem; 
     font-size: 1.3rem; font-weight:600; color:#fff; text-align: center;}
  dl {width: 100%; height: 100%;
   dt {font-size: 1.3rem; font-weight:900; margin-bottom:15px;}
   dd {font-size: 0.8rem; font-weight:600;}
   } // dl
   p{opacity: 0; position: absolute; top: 50%; left:50%; margin-left:-125px; width:250px; height:auto; font-size: 2rem; line-height: 0.8;
    >i{font-size:inherit; display:inline-block; width: 30px; height: 30px;}
   } // p
   a:focus dl,a:hover dl{opacity: 0;}
   a:focus p,a:hover p{opacity: 1;}
  .line_01 {width: 100%; height:405px;
    .midmarket {position: relative; float:left; width: 400px; height: 400px; border:2px solid #fff;
                @include url;
                background-size:cover;
                background-image:url("../../img/midmarket.png");
  } // .midmarket

    .pc {float:left; width: 400px; height: 400px; background-color: #333; border:2px solid #fff;
         position: relative; float:left; width: 400px; height: 400px; 
         @include url;
         background-size:cover;
         background-image:url("../../img/display.jpg");
    } // pc
  } // .line_01

  .line_02 {width: 100%; height:400px; 
    .new_belgium {float:left; width: 405px; height: 400px; background-color: #555; border:2px solid #fff;
                  position: relative; float:left; width: 400px; height: 400px; 
                  @include url;
                  background-size:cover;
                  background-image:url("../../img/new_belgim.jpg");
  } // .new_belgium
    
  .mclaren {float:left; width: 400px; height: 400px; background-color: #666; border:2px solid #fff;
            position: relative; float:left; width: 400px; height: 400px;  line-height:23px;
            @include url;
            background-size:cover;
            background-image:url("../../img/mclaren.jpg");
    } // .mclaren
  } // .line_02
} // #innovation_conBox


#footBox {width: 100%; height:320px; background-color: $main; margin:auto;
 .foot_info {width: 1000px; height:100%; margin:auto;
  
  .top_logo {position: relative; width: 100%; height: 30px; padding-top:20px;
    .left {position:absolute; top:40%; bottom:0; margin:auto; width: 300px; height: 2px; background-color: #fff;}
    .center_logo {float:left; margin-left:345px; width: 150px; height: 100%;
                  @include url;
                  background-image:url("../../img/dell_image_09.png");}
    .center_text {float:left; width: 150px; height: 100%; text-align: center; 
      line-height:30px; font-size: 1.3rem; font-weight:800; color:#fff;}
    .right {position:absolute; top:40%; bottom:0; right:0; margin:auto; width: 300px; height: 2px; background-color: #fff;}
  } // .top_logo
  
  .foot_logoBox {float:left; width: 270px; height: 270px;
  .logoBox {margin-top:30px; width: 100px; height: 100px; @include url;
            background-position: 30% 90%;
            background-image:url("../../img/dell_image_09.png");}
  .korea {margin-top:100px; font-size:0.8rem; width: 270px; height: 20px; color:#fff; font-weight:400;}
} // foot_logoBox

  .info_text {float:left; width: 730px; height: 220px;
   dl {float:left; width: 243px; height: 100%;
    dt {font-size:1.2rem; margin-top:30px; font-weight:800; color:#fff; margin-bottom:30px;}
    dd {width: 100%; height:30px; 
    a {font-size: 0.8rem; font-weight:400; color:#fff;}
      } // dd
    } // dl
  } // info_text 
  .caution {float:right; text-align: center; width: 300px; height: 20px;
  a {font-size:0.8rem; color:#fff; font-weight:400;}
} // caution

  } // foot_info
} // footBox